body {
	background: url('../img/SF4Temple.jpg') no-repeat;
}

.ryu {
	margin-top: 450px;
}

.ryu:hover {
	cursor: pointer;
}

.hadouken {
	margin-bottom: 125px;
	margin-left: -100px;
	padding-right: 50px;
}

